{% extends 'base.html' %}
{% block content %}
<div class="home">
    <h2>Welcome to the Python IDE</h2>
    <!-- Code Editor -->
    <form id="code-form" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="example.py" required>
        <button type="submit">Create File</button>
    </form>

    <!-- Display Saved Files -->
    <h3>Saved Files</h3>
    <table>
        <thead>
            <tr>
                <th>File</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>
                    <a href="{% url 'code_file_detail' file.pk %}">{{ file.name }}</a>
                    ({{ file.created_at|date:"Y-m-d H:i" }})
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_file' file.pk %}" style="display: inline;">
                        {% csrf_token %}
                        <button id="delete-btn" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No files saved yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}